*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(116, 118, 119);
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(136, 122, 122);
  padding: 1rem 2rem 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted black;
  background-color: rgb(59, 59, 59);
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 0.4rem 0 0.4rem;
}

.navbar ul * {
  margin: 0 0.4rem 0 0.4rem;
}

.profilePic {
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(191, 202, 212);
  width: 3em;
  height: 3em;
}

.navbar button {
  padding: 0.4rem 1rem 0.4rem 1rem;
  background-color: rgb(191, 202, 212);
}

.links {
  display: flex;
  align-items: center;
  font-size: max(4vw, 4rem);
  margin: 0.4em 0 0.4em 0.8em;
  gap: 1em;
  flex-flow: wrap;
}

.link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  max-width: 2.4em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link span {
  font-size: 0.3em;
}

.link img {
  width: 0.6em;
  max-height: 50px;
  padding: 0;
  margin: 0;
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.loginContainer {
  color: rgb(118, 160, 160);
  font-family: Arial, Helvetica, sans-serif;
  font-size: max(6vw, 3.9rem);
  margin-top: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 5em;
  height: 6em;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 41, 41);
}

.login h1 {
  font-size: 1em;
}
.login span {
  font-size: 0.12em;
}

.login button {
  margin-top: 2em;
  padding: 2em 3em 2em 3em;
  background-color: rgb(85, 84, 84);
}

.link .linkName {
  position: relative;
  max-width: 10.6em;
  text-align: center;
  word-wrap: break-word;
}

.link .msg {
  font-size: 0.5em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 600%;
}

.LinkPromptContainer {
  position: absolute;
  z-index: 1000;
  margin: auto;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.LinkPrompt {
  z-index: 1001;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: auto;
  top: 30%;
  left: 50%;
  transform: translate(0%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  background-color: whitesmoke;
  width: max(40%, 15rem);
  min-height: 60%;
  gap: 3rem;
}

.LinkPrompt form,
.LinkPrompt form * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LinkPrompt form {
  gap: 1rem;
}
.LinkPrompt form {
  width: 55%;
  min-height: 10%;
}

.LinkPrompt form input {
  display: block;
  width: 100%;
  height: 2rem;
}

.LinkPrompt h1 {
  font-size: 3rem;
}

.LinkPrompt form button[type="submit"] {
  padding: 1rem 2rem 1rem 2rem;
}

.LinkPrompt form button.delete {
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgba(238, 14, 14, 0.7);
}
